version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: emprestimo-agora-db
    restart: always
    environment:
      SA_PASSWORD: ${LOCAL_DB_USERNAME}
      ACCEPT_EULA: Y
      POSTGRES_PASSWORD: ${LOCAL_DB_PASSWORD}
      POSTGRES_DB: ${LOCAL_DB_NAME}
    ports:
      - "5434:1433"
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P ${LOCAL_DB_USERNAME} -Q 'SELECT 1'"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: keycloak
    restart: always
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"
    networks:
      - backend

  app:
    build: .
    container_name: api-emprestimo-agora
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      emprestimo-agora-db:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:
    driver: bridge
