version: "3.9"

services:
  smartinvest-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: smartinvest-db
    restart: always
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: ${LOCAL_DB_PASSWORD}
    ports:
      - "5434:1433"
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P ${LOCAL_DB_PASSWORD} -Q 'SELECT 1'"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: keycloak
    restart: always
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    ports:
      - "8081:8080"
    networks:
      - backend

  app:
    build: .
    container_name: smartinvest-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      smartinvest-db:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:
    driver: bridge
